# ------------------------------------------------------------------------------
# This config file contains all data pertaining to the following:
# ------------------------------------------------------------------------------
#
# ------------------------------------------------------------------------
# Variables 
# ------------------------------------------------------------------------
#	* channelID default	(can be changed in exception list)	
#	* locationID default	(can be changed in station exception list) 
#	* magnification default	(can be changed in magnification exception list)
#   	* channel/location info 	
# 	* datetime/duration info	
# 	* ipaddress/httpport info
# 	* filter info (NOTE: There will be diff freq for diff filters)
# 	* magnification/resolution settings
# 	* image formatting (jpg, png, etc.)
#
#	**NOTE: EHZ: 100Hz (notch/highpass filter)
#		BHZ: 20Hz  (bandpass filter)
#		LHZ: 1Hz   (bandpass filter)
#		VHZ: 0.1Hz (lowpass filter)	
#
# ------------------------------------------------------------------------
# Paths (unique to the server)
# ------------------------------------------------------------------------
# 	* getmetadata: executable path (extract station names and locations from dataless file)
# 	* datalesspath: seed path for station names and locations (aslres01:/APPS/metadata/SEED/)
# 	* cwbquery: executable path (install cwbquery on server)
# 	* resppath: path for frequency responses (aslres01:/APPS/metadata/RESPS/)
# 	* seedpath: station seed path (temporary path for seed files, cleared per run) 
#   	* plotspath: heliplots output directory (temporary path for output plots, cleared per run) 
#	* gifconvert: script (converts jpg images to gif for HeliHTML)
#	* nodata: gif image for stations with no data
# 	* helihtmlpath: temporary html path for all station images
#
# ------------------------------------------------------------------------
# Lists (used to change default variables i.e. channelID, locationID, etc)
# **NOTE: All exception lists are user specific
# ------------------------------------------------------------------------
#	* rmnetwork: remove specified networks
#	* channelexc: channel ID exception list for specified station 
#	* locationexc: location ID exception list for specified station 
#	* magnificationexc: magnification exception list for specified station 
# ------------------------------------------------------------------

# --------------------
# Default variables
# --------------------
channelID = LHZ
locationID = 00
duration = 86400
ipaddress = 136.177.121.27
httpport = 2007
magnification_default = 3000.0
resx = 1800 
resy = 1200 
pix = 180
imgformat = png 
vertrange = 0.00084 

# --------------------
# System paths
# --------------------
getmetadata = /home/ANSSEQ/HeliPlot/getmetadata.py
datalesspath = /data/metadata/dataless/ 
cwbquery = /home/ANSSEQ/agonzales/CWBQuery/CWBQuery.jar 
resppath = /data/metadata/responses/ 
seedpath = /home/ANSSEQ/agonzales/HeliPlot/SeedFiles/
plotspath = /home/ANSSEQ/agonzales/HeliPlot/OutputPlots/
stationnames = /home/ANSSEQ/agonzales/HeliPlot/stationNames.txt
gifconvert = /home/ANSSEQ/agonzales/HeliPlot/gifconvert.sh
nodata = /home/ANSSEQ/agonzales/HeliPlot/nodata.gif
helihtmlpath = /home/ANSSEQ/agonzales/HeliPlot/HeliHTML/

# ----------------------------------------
# Filter designs (unique to channelID)
# ----------------------------------------
EHZfiltertype = highpass 
EHZprefiltf1 = 0.5
EHZprefiltf2 = 1.0
EHZprefiltf3 = 5.0 
EHZprefiltf4 = 5.0 
EHZhpfreq = 0.05
EHZnotchfreq = 20.0

BHZfiltertype = bandpass 
BHZprefiltf1 = 0.5 
BHZprefiltf2 = 1.0
BHZprefiltf3 = 5.0 
BHZprefiltf4 = 5.0 
BHZbplowerfreq = 1.0
BHZbpupperfreq = 5.0 

LHZfiltertype = bandpass
LHZprefiltf1 = 0.001
LHZprefiltf2 = 0.004
LHZprefiltf3 = 0.05
LHZprefiltf4 = 0.05
LHZbplowerfreq = 0.004
LHZbpupperfreq = 0.05

VHZfiltertype = lowpass
VHZprefiltf1 = 0.001
VHZprefiltf2 = 0.004
VHZprefiltf3 = 0.05
VHZprefiltf4 = 0.05
VHZlpfreq = 0.004

# ------------------------------
# Lists for default changes
# ------------------------------
rmnetwork = AS, BF, BK, CD, CI, CZ, DW, GT, GSN, HG, II, MN, RS, SR, TS
channelexc = IUANMO: BHZ, USMYNC: BHZ, IWFXWY: BHZ
locationexc = IUHNR: 10, IURCBR: 10, IUPTGA: 10, IURAO: 10, IUTRQA: 10
magnificationexc = USMSO: 3000.0, IUYAK: 1000.0, IUPTCN: 1000.0, IUMIDW: 1000.0, IUPTGA: 3000.0, IURAO: 1000.0, IUFUNA: 250.0, IUBILL: 500.0, NEBCX: 1000.0, IWSMCO: 1000.0, IWPLID: 1000.0, IURAR: 1000.0, IUKNTN: 1000.0, IUMBWA: 1000.0, IUNWAO: 1000.0, IUAFI: 1000.0, IUPOHA: 1000.0, IUKIP: 1000.0, IUJOHN: 1000.0, IUTRQA: 1000.0
